<form method="post" action="/login_view/login">
<p>
<label>ID:     
    <input type="text" name="id" size="40" maxlength="20" required>
</label>
<br>
<label>Password:
    <input type="password" name="password" size="40" maxlength="10">
</label>
</p>
<br>
<p>
<input type="submit" value="Login">
</p>
</form>
